[2022-10-01 14:49] VedantAndhale opened #27 "For Avoiding Similar projects Building."
Hi mehul sir and team codedamn,
As codedamn have a long list of projects can you please create a issue and then assign it to the folks who are working on the projects.
Because if their are 4 dev working on same project , then we would have same project with  different coding style. So if issue assign is done folks would know which is taken.
Then after the projects are on github we can work on toge

[2022-10-01 17:05] jaisinha opened #30 "I would like to add my own python project.can I do it?"

[2022-10-01 17:19] mehulmpt commented on #30
Yes you can.

[2022-10-01 17:19] #30 closed

[2022-10-01 17:34] jaisinha commented on #30
Thanks !!

[2022-10-02 06:05] tamannasgh opened #33 "Working on Astral Portfolio Project"
may i work on this project?
https://codedamn.com/project/portfolio-project-html5

[2022-10-03 03:56] Sambhav250703 opened #40 "Can i create meme generator and contribute"
I want to create meme generator and contribute in this project for hacktoberfest 2022 can I contribute ?

[2022-10-03 10:58] Pranavtechie commented on #40
yes, you can work on the meme generator project.

[2022-10-03 10:59] Pranavtechie commented on #33
Hey @Tamanna-S , you can take this project and convert it into guided project

[2022-10-03 11:00] Pranavtechie commented on #27
Hey @VedantAndhale, this would be a good way to avoid working on the same project. Will update the guidelines

[2022-10-03 11:08] MannyP31 opened #42 "CRUD Application using JS"

[2022-10-04 06:38] RidhamRj commented on #33
@Pranavtechie hey i had a query regarding codedamn hacktoberfest
i would like to contribute the project
and just wanted to know what the project must include like is it neccesarily to be complete before conributing
or can i earn swag by just adding 1 of my project

[2022-10-04 12:49] oneknucklehead opened #46 "Addition to guided project"
Hey can i add a collaborative code editor application and a code compiler application to this repo?
I mean i want to add two projects.

[2022-10-04 12:51] RidhamRj commented on #33
alright

[2022-10-04 14:21] Sambhav250703 commented on #40
Ok I will make a Project and make a pull request for it for merging thanks for replying

[2022-10-05 04:52] Tamanna-S commented on #33
thanks @Pranavtechie

[2022-10-05 06:44] Shubhcs01 opened #54 "Bug: link not working in readme file"
[documentation](https://teach.codedamn.com/cdmrc) link to setup the .cdmrc file not working

[2022-10-05 07:15] Pranavtechie commented on #54
Hey @Shubhcs01, thanks for bringing this to our notice. Fixing it

[2022-10-05 07:26] #54 closed

[2022-10-05 07:29] Pranavtechie commented on #46
Hey @oneknucklehead, you can contribute to more than one project, there is no limit to the number of contributions.

However, we will be only sending you a single swag for your contribution.

[2022-10-05 08:03] Sambhav250703 commented on #40
[Meme Generator](https://github.com/codedamn/projects/pull/56)
Pls check to he pr raise for it

[2022-10-05 09:04] Pranavtechie commented on #42
Hey @MannyP31, I hope you are working on the guided project. You can directly create a PR when done with the project.

[2022-10-05 10:48] viveena30 opened #59 "adding pinterest clone.."
i have developed a Pinterest clone but i have used a different tech stack and have built an entire application...both frontend and backend.
can I add it?

[2022-10-05 12:04] anchal-gupta opened #61 "Full Stack TO DO APP using Next JS and Mongo DB"
Hello, I am looking forward to contribute to project whose details are present here - https://github.com/codedamn/projects/blob/master/fullstack-todo-app/spec.yml

Can you please assign me this?

[2022-10-05 13:39] Tamanna-S commented on #33
hey! @Pranavtechie done check this out!
added astral-portfolio-page! #66

[2022-10-05 14:52] manmohan4142 opened #67 "Added Netflix Clone"
Can I contribute to this project of netflix clone?? please tell me @Pranavtechie

[2022-10-05 20:11] Shreyas-SAS opened #69 "Basic Clock web app using Js for beginners"
Hey!
I would like to add a simple project of building a clock application with different changeable themes here if you would allow.
It will be based on only HTML, CSS and Javascript so that early starters can also attempt building it.
Can I go ahead with it?
If yes, please assign it to me with hactoberfest label.

[2022-10-05 20:13] Shreyas-SAS opened #70 "Basic Drawing application using Js"
Hey!
I would like to create another mini project of a drawing app for complete beginners who only know HTML, CSS and Javascript to give theme a base development experience in an early stage of development career.
Can I go ahead with it? If yes, please add hacktoberfest label and assign it to me.
Thanks.

[2022-10-06 03:08] Pranavtechie commented on #69
Yes @Shreyas-SAS, you can proceed with making the guided-project

[2022-10-06 03:08] Pranavtechie commented on #67
Hey @manmohan4142 , you can contribute this project

[2022-10-06 03:09] Pranavtechie commented on #70
Hey @Shreyas-SAS, you can pick this project up as well

[2022-10-06 04:36] HeisRoy33 opened #71 "Interactive banner page having better UI/UX"
Hey!
I would like to add a simple project of building a banner page with different changeable themes, dark mode and light mode here if you would allow.
It will be based on only HTML, CSS, SCSS and Javascript so that early starters can also attempt building it.
Can I go ahead with it?
If yes, please assign it to me with hacktoberfest label.

[2022-10-06 08:26] Suman373 opened #75 "A wordle-like game using vanilla javascript"

[2022-10-06 08:26] Suman373 commented on #75
Can I work on this issue admin/moderator?

[2022-10-06 11:08] Sambhav250703 commented on #40
Hi @Pranavtechie  I have made the required changes in the pr pls verify it again

[2022-10-06 14:38] Abhir1902 commented on #70
I have created a smart board application which will be useful for the same. Please check https://github.com/Abhir1902/Pencil-box.
Also have a look at the website link attached in the description.

[2022-10-06 14:45] Abhir1902 opened #77 "An linkedIn Web Scrapper Chrome extension."
Hey, @Pranavtechie can I contribute for the LinkedIn Web Scrapper chrome extension which I have made using pure Javascript?

[2022-10-06 14:55] MANUSRAO opened #78 "Google Notes App Clone"
Hi @Pranavtechie I would like to create a Google Notes Clone with React and MUI . I will make a PR by tomorrow.

[2022-10-06 17:40] Pratham-R opened #79 "Zomato Website Clone"
Hey!
I would like to add a simple project of building a Clone Of Zomato .
If yes, please assign it to me with hactoberfest label.

[2022-10-06 18:08] harshit-sharma-gits opened #82 "A Basic YouTube Clone using HTML and CSS for beginners"
Hi! I would like to add a YouTube Clone here if you would allow. The clone can be made using HTML and CSS only so that beginners can also understand the codebase and attempt to give it a try by making it yourself.
May I go ahead with this?
If yes, please assign this to me with `hacktoberfest` label.

[2022-10-06 18:16] Pranavtechie commented on #82
Hey @harshit-sharma-gits , you can go ahead with making the guided-project version of the YouTube clone project.

Please make sure that you understand the mentioned instructions, before starting

[2022-10-06 18:17] Pranavtechie commented on #79
yes @Pratham-R , you can start working on the guided-project for Zomato website, make sure that you understand the Instructions well. Please feel free to message here, if you have any doubts.

[2022-10-06 18:18] Pranavtechie commented on #78
Hey @MANUSRAO , sure.

[2022-10-06 18:18] Pranavtechie commented on #77
Hey @Abhir1902 , sure you can work on your project. Make sure to convert your project into a guided-project by reading the instructions

[2022-10-06 18:19] Zaheer-zk opened #83 "I have added a project which is basically a website which show the latest movie. In this project get to know how to use api, how to manipulate data in api and how to use that data which can help in many scenarios. learn some Beginner+ level JS code."

[2022-10-06 18:20] Pranavtechie commented on #75
Hey @Suman373 , @somyasubham9 . We are already a hard level project for wordle-clone https://codedamn.com/project/custom-wordle-clone

Any one of you can choose to update the current project or create a new project of your choice

[2022-10-06 18:21] #83 closed

[2022-10-06 18:21] Pranavtechie commented on #71
Hey @HeisRoy33, yes you can go ahead with the project. Make sure to convert this project into a guided-project. Make sure that you understand the instructions given in the README.md file. Feel free to ask any doubts here.

[2022-10-06 18:23] Pranavtechie commented on #70
Hey @Abhir1902 , we currently do not functionality to run flutter apps on Codedamn Playgrounds, so it is not very suitable to share a guided version of your flutter project here. If you have any web based or web3/blockchain based applications you can contribute them here.

[2022-10-06 18:24] Zaheer-zk opened #84 "beginner: A Basic Movie Details Showing Website using HTML + CSS + JS + API for beginners"
#81 Hi, I have added a project which is basically a website which show the latest movie. In this project get to know how to use api, how to manipulate data in API and how to use that data which can help in many scenarios. learning for some Beginner++ Level student.

[2022-10-06 18:34] Abhir1902 commented on #70
@Pranavtechie actually I have made the project using HTML, CSS , JavaScript and Firebase.

[2022-10-06 19:15] shreyas-9 opened #85 "social media site blocker - chrome extension"
A small chrome extension especially for social media addicted kids (instagram, tiktok etc) which will block the site when someone tries to open it
I'd like to work on this for hacktoberfest (2022)
kindly assign me this task
thankyou!

[2022-10-06 20:38] Suman373 commented on #75
I will try to upload any other project. Thanks

[2022-10-07 03:22] shubhra-g opened #86 "Real-estate-website"
Hey!
I would like to add a simple project of building a real estate website .
If yes, please assign it to me with hactoberfest label.

[2022-10-07 03:23] shubhra-g commented on #86
can you please assign me to this issue ? @Pranavtechie

[2022-10-07 03:56] Pranavtechie commented on #84
Hey @Zaheer-zk, thanks for contributing this project, make sure to mention this issue in your PR

[2022-10-07 03:57] Pranavtechie commented on #85
Hey @shreyas-9, you can work on this project

[2022-10-07 05:45] Kpallavi5 commented on #67
Hyy @Pranavtechie I'm interested to work on this project can you please assign me so that I can start working on this project....?

[2022-10-07 05:59] Suman373 opened #87 "Add : Tours details app in react"

[2022-10-07 05:59] Suman373 commented on #87
I want to work on this project from scratch. Pls assign me

[2022-10-07 06:01] #75 closed

[2022-10-07 06:01] Suman373 commented on #75
Since there is already a project on wordle. I am closing this issue

[2022-10-07 09:12] bhaskar08 commented on #69
Hey @Shreyas-SAS, you are already doing one issue right, so can I please take up this issue, I have a limited knowledge about web dev and given that I have already made a similar project, I would love to do this specific issue. Is it ok If I do this one and you do the other one?

[2022-10-07 09:15] Shreyas-SAS commented on #69
@bhaskar08 oh ok. I have not started with this project yet and given that this is your first issue I can lend you this one, I am left with just 1 issue for my 4 PR goal and that would complete with the other project so its ok if you do that. @Pranavtechie can you please assign @bhaskar08 with this issue. I will help him if he gets stuck anywhere so it won't be a problem. Happy coding.

[2022-10-07 09:16] bhaskar08 commented on #69
Oh Thanks @Shreyas-SAS . I will consult you if I get stuck anywhere. @Pranavtechie please assign this issue to me. I will do it perfectly with support from @Shreyas-SAS.

[2022-10-07 11:40] Perseus-Jackson477 opened #88 "A basic site showing codeforces details"
I wish to create a basic website showing details of any person's codeforces profile. This will help in learning HTML, CSS, JS and APIs as well. May I work on this project?

[2022-10-07 14:11] sagar-7227 opened #90 "GitHub profile Finder using React and Redux"
Hey @Pranavtechie I would like to work on Github Profile finder website which  showing users detail with all his repos using React and Redux. Please assign me this issue with hactoberfest label.

[2022-10-07 14:58] Pavan-Kamthane opened #91 "Text to speech project"

[2022-10-07 14:58] Pavan-Kamthane commented on #91
hey, can I add Text to speech project using html css......
For Hacktober Fest

[2022-10-07 17:10] Ambareen09 opened #95 "Sudoku solver"
Hello,
I want to contribute to this repository by making a sudoku solver using codedamn IDE for hacktoberfest evet! Kindly assign it to me if it's relevant.

[2022-10-07 17:24] Pranavtechie commented on #40
Hey @Sambhav250703 , will do and share the comments in the PR itself

[2022-10-07 17:24] Hariprasad19036 opened #96 "bmi-calculator"
I would like to contribute a BMI Calculator app created using React under the hacktoberfest label. Kindly assign this issue to me.

[2022-10-07 17:25] Pranavtechie commented on #86
Hey @shubhra-g , I've assigned. You can start working on the guided-project

[2022-10-07 17:26] Pranavtechie commented on #87
Hey @Suman373, It's ideal to create a guided-project once you have completed the your project first.

[2022-10-07 17:26] Sambhav250703 commented on #40
Okk 👍👍

[2022-10-07 17:26] Pranavtechie commented on #87
I'm assigning this to you for now, but make sure that you go through all the instructions mentioned in the in `README.md`

[2022-10-07 17:28] Pranavtechie commented on #88
Hey @Perseus-Jackson477 , you can work on the guided project for this, but make sure that you completed the actual project before converting it to a guided project as it will be an easy process and removes all the ambiguity

[2022-10-07 17:29] Pranavtechie commented on #90
Hey @sagar-7227 , you can work the guided project version for the github profile finder project.  Make sure to go through all the instructions in the `Readme.md`

[2022-10-07 17:29] Pranavtechie commented on #91
Hey @Pavan-Kamthane , sure you can work on the guided project for this

[2022-10-07 17:30] Pranavtechie commented on #95
Hey @Ambareen09 , sure you can work on this project and convert this to a guided project.

[2022-10-07 17:31] Pranavtechie commented on #96
Hey @Hariprasad19036 , there is already a small BMI Calculator that is already being reviewed.
https://github.com/codedamn/projects/pull/39

Even though the tech stack for the project seems to be different, I think it is best for you to work on a different project altogether

[2022-10-07 17:33] Pranavtechie commented on #59
Hey @viveena30 , sure you can contribute this project,

[2022-10-07 17:34] Hariprasad19036 commented on #96
Sure, thanks!

[2022-10-07 17:34] #96 closed

[2022-10-07 19:19] Hariprasad19036 opened #98 "PDF merger website"
I would like to create a website that can merge multiple pdfs using Flask and PyPDF2. Kindly assign this issue to me with the hacktoberfest label.

[2022-10-08 02:22] knockcat opened #100 "Student Task Management GUI."
Hello,
I want to contribute to this repository by a Student Task Management Graphical User Interface Project, fledged with all CRUD operations & Responsive Behaviour.

[2022-10-08 03:07] ravi0900 opened #101 "portfolio-website-guided-project"
kindly please please assign me this, review and merge my pr
also please add hacktoberfest label this is my first time participating in hacktoberfest and contributing to projects.
I have created portfolio website project using javascript css and html, and converted it as guide project and already sent you a pr request.
my pr is #74

[2022-10-08 03:27] Suman373 commented on #87
I know, I will write the instructions. Is there any time limit for pulling request?

[2022-10-08 06:09] ShwetKhatri2001 opened #102 "Covid-19 Updates App"
I'd like to create a guided project - Covid19 updates web app called "GoCoronaGo".
Kindly assign this issue to me and consider it as a contribution for hacktoberfest22.

[2022-10-08 08:32] imaaquibali opened #105 "githubtify"
I would like to create a project where users can Fork other's Playlist Create Issues on their albums Send PRs for collaboration.

Kindly assign this issue to me and consider it as a contribution for hacktoberfest22.

[2022-10-08 09:05] imaaquibali opened #106 "e-commerce-site"
I'd like to create an e-commerce guided project
Kindly assign this issue to me and consider it as a contribution for hacktoberfest22.

[2022-10-08 10:47] SiddharthShyniben opened #108 "Pomodoro timer"
Hey, I'd like to contribute a [pomodoro time-tracking app](https://en.wikipedia.org/wiki/Pomodoro_Technique) to this project. Please let me know if I can work on this. Thanks

[2022-10-08 11:07] imaaquibali commented on #106
@Pranavtechie can you  have look on it!

[2022-10-08 12:46] prakhar-198 commented on #95
Is there still something left to be done? please assign me!

[2022-10-08 13:11] Pranavtechie commented on #98
Hey @Hariprasad19036 , you would have to create a guided-project for this once you are done with the project. I hope you understand the Instructions given

[2022-10-08 13:12] Pranavtechie commented on #100
Hey @knockcat, yes you can create a guided-project for this

[2022-10-08 13:15] Pranavtechie commented on #105
Hey @imaaquibali, can you describe the project in-detail, below

[2022-10-08 13:16] Pranavtechie commented on #106
Hey @imaaquibali , you can work on this project as well

[2022-10-08 13:16] knockcat commented on #100
brother merge the pull  at #94.

[2022-10-08 13:17] Pranavtechie commented on #108
Hey @SiddharthShyniben, yes you can contribute this project as a guided-project

[2022-10-08 13:57] imaaquibali commented on #106
@Pranavtechie Brother i created an PR for this issue please have a look on it.

PR number #109

[2022-10-08 16:20] #105 closed

[2022-10-08 16:21] imaaquibali commented on #105
@Pranavtechie I'm closing this issue cause it's but confusing for the folks

[2022-10-08 18:07] Sambhav250703 commented on #40
Hey @Pranavtechie
Sorry to disturb you but can u pls check my pr and tell me is their error any in the pull request or else can you merge so it will help me to count in the hacktoberfest 2022 contribution
Thanks and again sorry for disturbing you

[2022-10-08 19:14] ravi0900 commented on #101
#74

[2022-10-08 19:22] Rishav-12 opened #112 "Email and password validator (w/ regex) guided project"
Hi, can I work on a guided project to build a frontend app which checks email and password validity uses some regular expression parameters?

[2022-10-08 19:38] harshit-sharma-gits commented on #82
Hey @Pranavtechie, I have opened up a Pull Request (#113 ) for this issue, would you please take a look?

[2022-10-08 19:38] #101 closed

[2022-10-08 19:45] ravi0900 opened #114 "Personal Portfolio Website"
I'd like to create an personal portfolio website guided project
Kindly assign this issue to me and consider it as a contribution for hacktoberfest22.

[2022-10-08 19:45] Hariprasad19036 commented on #98
Thanks @Pranavtechie! I've created a guided project and raised a PR for review.

[2022-10-09 06:37] aadii0408 commented on #82
Hey, I want to work on this issue, please assign to me.

[2022-10-09 08:19] BarmenduC opened #116 "Dice Game Project"
I would like to add an interactive dice game as a guided project in codedamn-projects for hacktoberfest. It is a simple game which declares the winner on the basis of who(amongst two players) gets the highest number generated from the roll of the dice. It can be easily made with the help of HTML, CSS and a little Javascript.

[2022-10-09 09:29] amanverma2253 opened #117 "A Blog Page"
I would like to add blog page project. Kindly assign this issue to me and consider it as a contribution for hacktoberfest22.

[2022-10-09 11:16] Abhir1902 commented on #77
![image](https://user-images.githubusercontent.com/73550795/194753851-f1fc2945-d3d0-44c5-90b7-89227506340a.png)
I have added the LinkedIn Scrapper chrome extension. Please merge my request. Have a look at my work.

[2022-10-09 14:20] FixxooXD commented on #116
OK am interested in this project , so starting to work on this i will be using HTML, TAILWINDCSS, AND VANILA JS so is  it  ok ?

[2022-10-09 14:56] BarmenduC commented on #116
Yes, for this project HTML, CSS(Vanilla or Tailwind depending upon the
comfort of the developer) and Vanilla JS are adequate.

On Sun, Oct 9, 2022 at 7:50 PM Raj Palmal ***@***.***> wrote:

[2022-10-09 20:45] ravi0900 commented on #114
#126

[2022-10-09 23:03] ShivamAgarwal-code opened #127 "Adding Netflix Clone Website (FakeFlix)"

[2022-10-10 01:43] sumitbaroniya commented on #114
Please assign me this issue

[2022-10-10 01:45] sumitbaroniya opened #128 "Add Windows 11 clone"
Please assign me this issue. I would like to contribute in it and consider it as a contribution for hacktoberfest22.

[2022-10-10 01:55] sumitbaroniya commented on #106
Please assign me this issue.

[2022-10-10 01:55] sumitbaroniya commented on #102
Please assign me this issue

[2022-10-10 02:55] imaaquibali commented on #106
@sumitbaroniya brother I'm already working at this issue!

[2022-10-10 02:57] SSHSRN opened #129 "A Guided Project to demonstrate API call with HTML, CSS, JS"
I would like to add a guided project to make people understand the concept of fetching data from an API. Kindly assign this issue to me and consider it as a contribution for hacktoberfest22.

[2022-10-10 03:40] Abbhiishek opened #130 "Galaxy Library"
I would love to add a galaxy library project where data is fetched from json file and rendered conditionally.

consider it as a contribution for hacktoberfest22.

[2022-10-10 04:18] Dhanshriborse commented on #114
Please assign this issue to me .

[2022-10-10 05:13] Purvesh77 commented on #129
Hey @SSHSRN I have uploaded a code in html which uses API and gives our location in the form of latitude and longitude
Can You merge it ?
Thank You
PR: Create Html With API #131

[2022-10-10 06:19] FixxooXD opened #133 "Creating a Flipkart clone"
Creating a Flipkart clone (Without backend)
I will be using Html, Tailwind css and Vanilla css

[2022-10-10 06:33] ravi0900 commented on #114
Please create a issue to work on, it's me who working on it

[2022-10-10 06:33] ravi0900 commented on #114
Please create a issue to work on, it's me who working on it

[2022-10-10 07:00] ShivamAgarwal-code commented on #127
Consider it as a contribution for Hacktoberfest..

[2022-10-10 09:13] tiluckdave opened #134 "Analog + Digital Clock"
#103

[2022-10-10 12:28] Pranavtechie commented on #133
Hey @FixxooXD , there is already a PR on Flipkart clone project.

[2022-10-10 13:00] #133 closed

[2022-10-10 13:20] SSHSRN commented on #129
Hey @Purvesh77. Thanks for reaching out, but unfortunately, I'm just a fellow contributor like you too and I do not have the access to merge PRs. And I also saw your PR. It's so basic and you have not even added any CSS to it. You have just called the Geolocation API using the navigator object to get the user's latitude and longitude and for someone who does not even know what latitude and longitu

[2022-10-10 13:21] SSHSRN commented on #129
@Pranavtechie Kindly assign me this issue as I want to make a guided project that helps students know about APIs and consider it as a contribution for **hacktoberfest22**.

[2022-10-10 14:23] Tamanna-S commented on #33
hey @Pranavtechie may you have a look now.
made astral-portfolio-page a guided project #72

[2022-10-10 14:44] Princeton21 opened #139 "Currency Converter"
I will be working on a currency converter using ReactJS.
Kindly assign me this issue.

This is a contribution for Hacktoberfest 2022

[2022-10-10 16:06] FixxooXD opened #141 "Case-converter and Real-Time character counter"
It is a simple project which can count character in real-time and can covert the case of the letters accordingly like (uppercase, lowercase, capitalized case, title case, and also  if possible I would add  "copy-to-clipboard" and "download text" options .
I will be using  HTML, TAILWINDCSS & VANILLA JS .

Is this will be a Valid Project ? @Pranavtechie

[2022-10-10 17:11] RidhamRj opened #142 "Snapchat ho.epage clone"
Cloning snapchat homepage
snapchat.com

Tech stack used-
- [x] reactjs
- [x] css

I am currently working on this project to furnish my coding skills

Would like to contribute to this repo

Creating this issue to confirm if this kind of project already exists or not

Kindly review the request and assign me asap...

[2022-10-10 17:13] RidhamRj commented on #142
@Pranavtechie Kindly assign
The current development goes as follows
Haven't made it responsive yet
Also I am working on making nav waffle work
Will complete sight soon

Kindly review on desktop
https://snapchat-clone-virid.vercel.app/

[2022-10-10 17:14] RidhamRj commented on #142
I would like to contribute in so kindly assign this to me

[2022-10-10 18:02] shreyan-haldankar opened #143 "Product Landing Page - Watches"
I want to contribute to this repository by creating a Product Landing Page for Watches.

[2022-10-10 18:27] navyansh007 opened #144 "NFT Marketplace Guided Project"
Hello, I would like to contribute the NFT Marketplace Guided project, that guides learners in making an NFT Marketplace using React and Solidity. I would like this to be counted as HacktoberFest2022 Contribution. Please assign this issue to me and add hacktoberfest label to it.

[2022-10-10 19:01] geetika001 commented on #117
Hey @Pranavtechie I have added a PR  #145 for this project. Please review and do accept the PR.

[2022-10-10 19:02] geetika001 commented on #117
Hey @Pranavtechie I have added PR #145 for this Project.Please review and do accept the PR.
Please assign me this task and requesting you to consider for Hacktoberfest.

[2022-10-10 19:20] geetika001 commented on #117
Few Screenshots to show how it looks

![image](https://user-images.githubusercontent.com/98944568/194937750-9a1e3484-3c31-4b63-9f20-e16c43cbf83c.png)
![image](https://user-images.githubusercontent.com/98944568/194937792-338722cc-b027-4359-bafb-7316483891d5.png)
![image](https://user-images.githubusercontent.com/98944568/194937848-6a2857a6-f5b7-44f3-a0fd-78d59611f230.png)
![image](https://user-imag

[2022-10-10 20:25] ritwickrajmakhal opened #146 "Math Training Game"
I would like to add a **Math Training Game**, in which we can solve some addition, subtraction, division, multiplication question to improve our verbal calculation. @Pranavtechie please assign me this project and count me in Hactoberfest by labeling my project. Thank you.

[2022-10-10 21:55] ShivamAgarwal-code commented on #127
Hello I want to add resume generator website, please assign me this issue asap..

[2022-10-11 05:31] Pranavtechie commented on #139
Hey @Princeton21 , you can start working on the guided project

[2022-10-11 05:32] Pranavtechie commented on #141
Hey @FixxooXD , yes this is a valid  project. You can start working on the guided project version for this

[2022-10-11 05:33] Pranavtechie commented on #142
Hey @RidhamRj , you can work on the guided project version of this

[2022-10-11 05:33] Pranavtechie commented on #143
Hey @shreyan-haldankar , you can work this for a guided project

[2022-10-11 05:35] Pranavtechie commented on #144
Hey @navyansh007. I see that you have already made the Pull Request https://github.com/codedamn/projects/pull/53

We'll review it soon

[2022-10-11 05:36] Pranavtechie commented on #146
Hey @ritwickrajmakhal, yes you can work on this as a guided-project

[2022-10-11 06:24] AkanshuAich commented on #146
I would like to add a math Training program for several volume and area of certain figures with several required inputs to be available on the fingertips. A single program further can reduce the work load and calculations. @Pranavtechie please assign me this project and count me inhactoberfest by labelling my project. Thank you.

[2022-10-11 06:26] ShivamAgarwal-code commented on #127
@mehulmpt sir can u please assign me the issue so that I could work on making pr fast..

[2022-10-11 08:39] Elstuhn opened #147 "Pathfinding with Reinforcement Learning"
I would like to make a guided project for intermediate programmers to teach them how to make a pathfinding program using one of Reinforcement Learning's many methods, Q-Learning.

I know it's outside of what your guided projects normally contain, containing website related stuff. But I think it'll be cool if this project was added to teach people about a very interesting field, Reinforcement Learn

[2022-10-11 09:20] #129 closed

[2022-10-11 09:25] SSHSRN opened #148 "Fetching details of a user's IP address (to create awareness)"
I would like to add a guided project to make people understand the concept of fetching data from an API and demonstrate it with HTML, CSS, JS.
I also want to demonstrate what are the details that can be obtained from a user's IP address in this project.

Kindly assign this issue to me and consider it as a contribution for **hacktoberfest22**.

[2022-10-11 09:25] SSHSRN commented on #148
@Pranavtechie Kindly check!

[2022-10-11 10:07] mehulmpt commented on #127
I'm nto sure if I understand this request?

[2022-10-11 10:12] ShivamAgarwal-code commented on #127
Should I tell about the website features?
It's a clone of Netflix, will be using tech stacks like react, firebase, js, some others and also enhancing some other features in the website..
So please consider the request and assign it...

[2022-10-11 10:16] mehulmpt commented on #127
Sure, you can work on it. Please send a PR when you're ready

[2022-10-11 10:16] #127 closed

[2022-10-11 10:17] mehulmpt commented on #148
You can work on it. Please send a PR when you're ready. Read the guidelines here: https://github.com/codedamn/projects#readme

[2022-10-11 10:17] #148 closed

[2022-10-11 10:17] mehulmpt commented on #147
What technology/programming language would it require?

[2022-10-11 10:18] mehulmpt commented on #146
You can work on it. Please send a PR when you're ready. Read the guidelines here: https://github.com/codedamn/projects#readme

[2022-10-11 10:18] #146 closed

[2022-10-11 10:18] #142 closed

[2022-10-11 10:18] #141 closed

[2022-10-11 10:18] #144 closed

[2022-10-11 10:18] #134 closed

[2022-10-11 10:19] mehulmpt commented on #79
You can work on it. Please send a PR when you're ready. Read the guidelines here: https://github.com/codedamn/projects#readme

[2022-10-11 10:19] #79 closed

[2022-10-11 10:19] mehulmpt commented on #77
You can work on it. Please send a PR when you're ready. Read the guidelines here: https://github.com/codedamn/projects#readme

[2022-10-11 10:19] mehulmpt commented on #130
You can work on it. Please send a PR when you're ready. Read the guidelines here: https://github.com/codedamn/projects#readme

[2022-10-11 10:19] #130 closed

[2022-10-11 10:19] mehulmpt commented on #70
You can work on it. Please send a PR when you're ready. Read the guidelines here: https://github.com/codedamn/projects#readme

[2022-10-11 10:19] #70 closed

[2022-10-11 10:20] mehulmpt commented on #69
You can work on it. Please send a PR when you're ready. Read the guidelines here: https://github.com/codedamn/projects#readme

[2022-10-11 10:20] #69 closed

[2022-10-11 10:21] mehulmpt commented on #147
We support Python (https://codedamn.com/playgrounds?template=python). You can work on it. Please send a PR when you're ready. Read the guidelines here: https://github.com/codedamn/projects#readme

[2022-10-11 10:30] Abhir1902 commented on #77
Sure I will upload the projects as per the guidelines.

[2022-10-11 11:24] amitanshusahu opened #149 "A fullstack real-time chat app with auth, More like a telegram clone"
## building a  "Real time chat app" with MERN stack
how to approach
- [ ] user auth system with encrypted password using bcrypt
- [ ] a beautiful ui and ux and fully resposive
- [ ] integrating soket.io to react for making it realtime
 ### features include
- login , logout , register
- realtime private chats
- chats saved to databse and users can set time to autoclean chat after a certain time

[2022-10-11 11:28] amitanshusahu commented on #149
@Princeton21 , @mehulmpt , i would like to work on this...
would you assign me the issue so that i can start wording on this

[2022-10-11 14:16] RidhamRj commented on #142
@Pranavtechie this wasn't completed

[2022-10-11 14:16] RidhamRj commented on #142
why closed

[2022-10-11 14:26] RidhamRj commented on #142
what does the guided project version means?

[2022-10-11 15:39] Nikhil-2002 commented on #139
I will be working on a currency converter using Java
Kindly assign me this issue

[2022-10-11 17:56] mehulmpt commented on #142
Please read the guidelines properly: https://github.com/codedamn/projects#readme

[2022-10-12 04:59] Taz03 opened #154 "Flashcards project"
I'd like to implement flashcards project

[2022-10-12 05:19] raikiran07 opened #155 "I like to add a guided project - Number guessing game using html, css and javascript."
I have already sent a PR for this issue, can you please review it and suggest any changes that I need to make. Thank you!

[2022-10-12 05:48] Pratham-R opened #156 "Zomato Website Clone"
Hey!
I would like to add a simple project of building a Clone Of Zomato .
If yes, please assign it to me with hactoberfest label.

[2022-10-12 05:54] Pratham-R commented on #156
PR #157

[2022-10-12 07:05] Sonali3110 commented on #106
I have already create many of these.I can customize according to your needs.Please assign me this

[2022-10-12 07:06] Sonali3110 commented on #143
Hey , I have the expertise in this domain. Please assign me this project

[2022-10-12 09:32] iamrahul8 opened #158 "A TODO list website using HTMl, CSS, JS"
I want to work on this project

Please assign it to me under `hacktoberfest`

[2022-10-12 10:56] Divjyo15 commented on #158
hey can you assign me

[2022-10-12 14:49] Ishika414 opened #161 "Add a ghost shooter JAVA game"
Add a ghost shooter Java game with good UI.

[2022-10-12 14:49] Ishika414 commented on #161
I would like to work on this issue. Please assign it to me.

[2022-10-12 20:32] markandey007 commented on #156
i can fix this issue i can do  this please assign me

[2022-10-13 01:04] Kpallavi5 commented on #67
@Pranavtechie ?

[2022-10-13 03:23] Pratham-R commented on #156
@markandey007 I have already created a Pull Request.
@Pranavtechie Can you please see the PR

[2022-10-13 06:15] Pranavtechie commented on #149
@amitanshusahu , you can work on this project

[2022-10-13 06:15] Pranavtechie commented on #154
hey @Taz03 , you can work on the guided project version of this

[2022-10-13 06:16] Pranavtechie commented on #155
Hey @raikiran07 , sure we'll review your PR soon

[2022-10-13 06:18] Pranavtechie commented on #156
hey @markandey007 , you can create an issue for a project that you have already worked on and then convert it to a guied-project as per instructions

[2022-10-13 06:18] Pranavtechie commented on #156
Hey @Pratham-R , we'll review your PR soon

[2022-10-13 06:21] Pranavtechie commented on #161
Hey @Ishika414 , our codedamn playgrounds currently do not support GUI projects, you can however create a guided-project for a terminal based application or any other application that is web-based or regarding web3.

[2022-10-13 06:22] #161 closed

[2022-10-13 06:25] Pranavtechie commented on #158
https://codedamn.com/project/todo-app

https://codedamn.com/project/fullstack-todo-app

Hey @iamrahul8 , we already have two projects for different versions of todo-apps, you can work on a different project.

[2022-10-13 06:25] #158 closed

[2022-10-13 07:01] raikiran07 commented on #155
Thank you so much @Pranavtechie

[2022-10-13 07:47] Taz03 commented on #154
yea sure thing

[2022-10-13 12:46] MANUSRAO commented on #78
Hi @Pranavtechie, can you please review my PR?

[2022-10-13 13:39] navya-Singla-1-3-0-9 opened #165 "2048 Game Clone"
I would like to make a clone of the 2048 game.
Could you please assign this issue to me?

[2022-10-13 14:54] MetalOoze05 opened #166 "Card Website using Nextjs"
Hey, I would like to create a dynamic card website which shows your spotify & vsc status!

[2022-10-13 17:23] minhaj-313 opened #167 "I want to add Online Calculator Clone"
I want to Contribute under Hacktoberfest Please assign me.
I want to Create a Calculator using HTML, CSS, and Javascript.
I saw YouTube Video on Codedamn Channel and then come to this Website then I did come here.
https://codedamn.com/hacktoberfest .
I want to contribute. Thank You.

[2022-10-13 20:46] iamvishal345 opened #168 "Guided Project - Digital Clock App Project"
Hi,
I have raised a PR for my guided project.
https://github.com/codedamn/projects/pull/119

It is medium level project with 3rd party api integrations and with responsive design build using react.

[2022-10-14 02:31] #90 closed

[2022-10-14 05:39] ritik3131 opened #169 "Meetup App using Nextjs"
Hey @mehulmpt, @Pranavtechie  I have already sent a PR #57  for this issue, can you please review it and suggest any changes that I need to make. Thank you!

[2022-10-14 06:19] iamvishal345 opened #170 "Guided Project- Flipkart Home Page clone"
Hi,
I would like to work on building flipkart home page using react. In project we will build all the components from scratch without any design library. Also we will try to simulate how we build such data heavy components with different variations on UI.

[2022-10-14 13:16] tamannasgh opened #171 "Astral Portfolio Project"
hey @mehulmpt @Pranavtechie may any of you have a look at my pr it's been 4-5 days.
made astral-portfolio-page a guided project #72

[2022-10-14 21:34] PrerakMathur20 opened #173 "Instagram Frontend Clone"
Design an Instagram Frontend Clone using Standard Web Development.

Kindly assign this to me so I can proceed to make a PR. Thanks!

[2022-10-15 09:16] Jam-Burger opened #174 "Genetic algorithm Simulation"
The project will demonstrate how to use a genetic algorithm to simulate 'Evolution' in code.

I would like to work on this.

[2022-10-16 09:59] #166 closed

[2022-10-16 10:18] Pranavtechie commented on #165
Hey @navya-Singla-1-3-0-9 , you can work on the guided project version of this

[2022-10-16 10:19] Pranavtechie commented on #167
@minhaj-313 , @Sonali3110 We already have a calculator clone on our projects page. https://codedamn.com/project/calculator-clone

[2022-10-16 10:19] Pranavtechie commented on #167
You can work on a different project.

[2022-10-16 10:19] #167 closed

[2022-10-16 10:20] Pranavtechie commented on #168
@iamvishal345 , we'll review your project soon

[2022-10-16 10:21] Pranavtechie commented on #170
Hey @iamvishal345 , there has already been a submission for a Flipkart clone https://github.com/codedamn/projects/pull/44

[2022-10-16 10:23] Pranavtechie commented on #173
Hey @PrerakMathur20 , we already have an Instagram clone on our website. You can choose to improve the existing project into a guided project. https://codedamn.com/project/instagram-clone-project

[2022-10-16 10:23] Pranavtechie commented on #171
Hey @Tamanna-S, we appreciate your patience. We'll review all the PR's soon

[2022-10-16 10:24] Pranavtechie commented on #169
Hey @ritik3131 , we'll review your PR soon.

[2022-10-16 10:25] Pranavtechie commented on #174
Hey @Jam-Burger , can you elaborate on the tech stack that will be used for this

[2022-10-16 12:02] Tamanna-S commented on #171
thank you

[2022-10-16 12:20] #170 closed

[2022-10-16 16:15] iamvishal345 opened #177 "Guided Project- Whatsapp web clone"
Hi,
I would like to work on whatsapp web clone project.

[2022-10-16 19:36] Jam-Burger commented on #174
The project is a visualization of the genetic algorithm. I can make the app using python graphic libraries or using normal HTML, CSS, and js.

[2022-10-17 04:19] Pratham-R commented on #156
Hey @Pranavtechie , Any Feedbacks?

[2022-10-17 05:07] minhaj-313 opened #178 "I want to add Tic Tac Toe Game Using HTML, CSS, Javascript."
I want to contribute Under Hacktoberfest.
Please Assign it to me.
Thank You.

[2022-10-17 10:43] ShivamAgarwal-code opened #180 "Chat App Project"
I want to add chat app project using react, web socket and some other frontend tech stacks.
I want to contribute under hacktoberfest.
Please assign me the issue...
Thanks

[2022-10-17 12:03] #154 closed

[2022-10-17 18:51] nikita812 opened #183 "portfolio website template"
hello,
i want to contribute an template for a good responsive portfolio website. please assign me this.

**hacktoberfest22**

[2022-10-18 03:55] shubhra-g commented on #86
PR #185

[2022-10-18 03:55] shubhra-g commented on #86
PR #185

[2022-10-18 15:54] #95 closed

[2022-10-19 05:27] Pratham-R commented on #156
@mehulmpt @Pranavtechie can you please review the Pull Request

[2022-10-19 08:46] imaaquibali commented on #106
@Pranavtechie Brother, there is no updates on this issue. Is there any problem?

[2022-10-20 11:15] Shubham1193 opened #188 "Instagram-reels-(REACT.JS and FIREBASE)"
Hi! I would like to add a Instagram reels Clone here if you would allow. The clone can be made using React.js and Firebase as a backend  .The clone will have features like user login , signup , like comment on any reel and upload our own reel.
May I go ahead with this?
If yes, please assign this to me with hacktoberfest label.

[2022-10-20 11:36] Soumya169 commented on #183
i want to contribute for portfolio web please assign me

[2022-10-20 11:37] Soumya169 commented on #178
i want to contribute for this please assign me

[2022-10-20 11:58] anshulsoni2010 commented on #183
please assign me, I create an Amazing portfolio website template You can see my work. A portfolio website that I have to created https://anshulsoni.netlify.app , https://vijaykumarsoni.netlify.app

[2022-10-20 12:00] anshulsoni2010 commented on #139
Please assign me , I have just created a currency converter app using HTML, CSS,JavaScript . repo link - https://github.com/anshulsoni2010/Currency-converter-

[2022-10-20 12:09] anshulsoni2010 opened #190 "currency converter"

[2022-10-20 12:09] anshulsoni2010 commented on #190
assign me

[2022-10-20 12:29] Pranavtechie commented on #174
Hey @Jam-Burger , it would be better if you can make it using HTML, CSS and JS. I hope you understand that you have to break down the project into individual steps and write instructions and challenges. I hope you have gone through the `Readme.md` file which mentions all the pointers.

[2022-10-20 12:43] yashdkadam commented on #116
I would like to contribute to this issue. Could you please assign me this issue?

[2022-10-20 13:05] Pranavtechie commented on #190
Hey @anshulsoni2010 , an issue for currency converter was already created and assigned. https://github.com/codedamn/projects/issues/139

[2022-10-20 14:40] Princeton21 commented on #139
@anshulsoni2010
I am currently working on this.

[2022-10-20 16:25] ssahibsingh opened #191 "YouTube Playlist Length Calculator"
YouTube Playlist Length Calculator calculates length of any youtube playlist over any custom range. Tech Stack used is Node.js, Express.js and YouTube Data API. Would like to make a guided project on this. Please assign this to me.

[2022-10-21 02:14] Girlwithasmile opened #192 "Starbucks website clone - Guided"
I can add a guided project using Html, Css.

[2022-10-22 05:54] Vishal2002 opened #193 "Want to add Keyboard Piano using HTML,CSS and Javascript"

[2022-10-22 05:55] Vishal2002 commented on #193
Can you assign me this issue to solve under Hacktoberfest 2022.

[2022-10-22 15:05] 05him opened #194 "BUG in UI on projects home page"
## The issue
When opening the `https://codedamn.com/projects` page , in the products card where the difficulty and tech stack is mentioned in each product , when those things take width greater then the card itself then those tokens get hidden, which results in bad user experience

## Snapshots
I am attaching few snapshots for the cards with this kind of behavior.
![image](https://user-images.gith

[2022-10-24 05:38] Gaurav-jo1 commented on #194
Assign this issue to me

[2022-10-25 04:26] Kaushalrr006 commented on #190
assign me the task i am interested

[2022-10-25 04:59] Kaushalrr006 commented on #178
assign me this task i am intrested
[GAME.zip](https://github.com/codedamn/projects/files/9857235/GAME.zip)
Please check it

[2022-10-27 03:12] DeveVivek commented on #193
Please assign me this task.

[2022-10-27 03:13] DeveVivek commented on #192
Please assign me this task.

[2022-10-27 06:19] Pranavtechie commented on #191
Hey @ssahibsingh, You can work on the guided project version of this

[2022-10-27 06:21] Pranavtechie commented on #188
Hey @Shubham1193, you can work on this

[2022-10-27 06:21] ssahibsingh commented on #191
@Pranavtechie Thanks for assigning.

[2022-10-27 12:26] ssahibsingh commented on #191
Hey @Pranavtechie , I have added a pull request for this issue. Please Review it. Issue #206

[2022-10-27 19:44] Pranavtechie commented on #193
Hey @Vishal2002, you can work on the guided project of this

[2022-10-27 19:45] Pranavtechie commented on #192
Hey @Girlwithasmile, you can create a PR for this

[2022-10-28 05:20] Saurav-Singh-Rauthan opened #209 "guided-project : shopping website landing page"
Hi i want to add my guided project : landing page of a shopping website ,  made with HTML CSS JS and is of easy level
I've also created a PR for same #205 , can you please review it. Thanks!

[2022-10-28 19:15] #106 closed

[2022-10-29 04:42] PrerakMathur20 opened #212 "Twitter Frontend UI Clone"
Create Twitter's Frontend Clone using basic Web Development languages (HTML, CSS).
---

I'd like to work on this. Please assign it to me.

[2022-10-29 07:48] ayushete02 opened #213 "Virtual painter"

[2022-10-29 07:49] ayushete02 commented on #213
Please assign me this task

[2022-10-30 09:19] RidhamRj opened #215 "SnapChat Clone (homepage using react js)"
This hacktoberfest i was learning javascript framework react js through mehul's tutorial

using that i built this project to furnish my skills

tech stack-
- [x] ReactJS
- [x] CSS
- [x] JS DOM

##Preview-
original-
![image](https://user-images.githubusercontent.com/86556438/198871271-c66bd8cf-a87b-4a39-9d7d-79d386c3a1b4.png)

cloned-
![image](https://user-images.githubusercontent.com/86556438/1988

[2022-10-30 09:20] RidhamRj commented on #215
@Pranavtechie kindly review

[2022-10-31 18:22] Vishal2002 commented on #193
Bhaiya please merge the PR.

[2022-11-02 07:49] #213 closed

[2022-11-05 19:33] harshit-sharma-gits commented on #82
I believe this issue can be closed now, as the guided project have been successfully merged into main.
What you say @Pranavtechie ?

And, is there anything more to do for receiving codedamn swags? XD

[2022-11-06 05:27] Pranavtechie commented on #82
Hey @harshit-sharma-gits , drop your email here. We'll reach out to you

[2022-11-06 05:30] #108 closed

[2022-11-06 05:38] harshit-sharma-gits commented on #82
Here;
harshits908@gmail.com

[2022-11-06 09:36] Rishav-12 commented on #112
I did not manage to finish my work on this so closing it

[2022-11-06 09:36] #112 closed

[2022-11-09 17:51] #209 closed

[2022-11-11 10:59] #191 closed

[2022-11-11 10:59] #139 closed

[2022-11-11 11:00] #156 closed

[2022-11-22 04:16] shubhra-g commented on #86
Hey can you check the Pull Request #238